[submodule "tascar"]
	path = tascar
	url = https://github.com/gisogrimm/tascar.git
	branch = development
[submodule "libds"]
	path = libds
	url = https://github.com/digital-stage/libds.git
	branch = main
