name: MacOS cmake

on:
  push:
    branches: [ master, development, libov_win ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Fetch git tags
      run: git fetch --unshallow --tags
    - name: Install submodules
      run: git submodule update --init --recursive
    - name: Install Dependencies
      run: brew install pkgconfig glibmm xerces-c jack liblo libsndfile gtkmm3 eigen boost gsl fftw libsamplerate cpprestsdk nlohmann-json openssl coreutils libsoundio
    - name: Configure & Make
    # Following flag may be necessary: -DOPENSSL_ROOT_DIR=/opt/homebrew/opt/openssl@1.1
      run: mkdir build && cd build && cmake .. && make

