name: Ubuntu cmake

on:
  push:
    branches: [ master, development, libov_win ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Fetch git tags
      run: git fetch --unshallow --tags
    - name: Install submodules
      run: git submodule update --init --recursive
    - name: Install Dependencies
      run: sudo apt update &&
           sudo apt install --assume-yes git zita-njbridge liblo-dev nodejs libcurl4-openssl-dev build-essential libasound2-dev libeigen3-dev libfftw3-dev libfftw3-double3 libfftw3-single3 libgsl-dev libjack-jackd2-dev libltc-dev libmatio-dev libsndfile1-dev libsamplerate0-dev libboost-all-dev libxerces-c-dev libcpprest-dev nlohmann-json3-dev libsoundio-dev
    - name: Configure & build
    # Ubuntu delivers cmake finders to wrong path, will be fixed soon, see https://github.com/microsoft/cpprestsdk/issues/686#issuecomment-581013055
      run: mkdir build && cd build && cmake .. && make
